<div class="container-fluid">
  {{loggedin.username}}
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h1 class="page-header">Available Pets</h1>
      <div class="col-xs-12" *ngIf="!allPets">No pets currently available.</div>
      <div class="col-sm-12" *ngIf="allPets">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-sm-4">
              <label for="sort-field">Sort By</label>
              <select
                class="form-control"
                name="sort-field"
                id="sort-field"
                [(ngModel)]="sortField">
                <option
                  *ngFor="let field of sortFields"
                  [value]="field">
                    {{ field }}
                </option>
              </select>
            </div>
            <div class="col-sm-4">
              <label for="sort-direction">Sort Direction</label>
              <div>
                <button
                  class="btn btn-primary"
                  [ngClass]="{'btn-success': sortDirection == 'asc'}"
                  (click)="sortDirection = 'asc'">
                  Asc
                </button>
                <button
                  class="btn btn-primary"
                  [ngClass]="{'btn-success': sortDirection == 'desc'}"
                  (click)="sortDirection = 'desc'">
                  Desc
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- List all pets if there are pets -->
      <table class="table" *ngIf="allPets">
        <thead>
          <th></th>
          <th>Name</th>
          <th>ID</th>
          <th>Type</th>
          <th>Size</th>
          <th>Energy Level</th>
          <th>Age</th>
          <th>Rating</th>
          <th>View Pet</th>
          <th>Schedule</th>
        </thead>
        <tr *ngFor="let pet of allPets | sortBy: [sortField, sortDirection]">
          <td class="image"><img src="{{pet.photo}}"></td>
          <td><b>{{pet.name}}</b></td>
          <td>{{pet.id}}</td>
          <td>{{pet.type}}</td>
          <td>{{pet.size}}</td>
          <td>{{pet.energy}}</td>
          <td>{{pet.age}}</td>
          <td>{{pet.rating}}</td>
          <!--<td><a href="http://localhost:5000/pet-detail">View Pet</a></td>-->
          <td><button (click)="onClickViewPet(pet._id)">View Pet</button>
          <td><a href="/schedule/{{pet._id}}" *ngIf="loggedin.username">Schedule</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
