h1 {
  font-size: 40px;
  padding: 10px;
}

img {
  width: 100%;
  height: auto;
}

/*.table>tbody>tr>td {
  font-size: 1.25em;
  /width: 100px;/
  vertical-align: middle;
  text-align: center;
}*/

th, td {
  font-size: 15px;
  text-align: center;
}

.image {
  width: 200px;
}
