<div class="container">
  <h1>Pet Detail</h1>
</div>

<div class="container">
  <div class="row">
    <hr>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="pet-1">
      <div class="col-sm-6 img-responsive">
        <div class="photo">
          <img  src="{{pet.photo}}" width="200" >
        </div>
      </div>
      <div class="col-sm-6">
        <p>Name: {{pet.name}}</p>
        <p>Status: {{pet.state}}</p>
        <p>Rating: {{pet.rating}}</p>
        <p>Energy: {{pet.energy}}</p>
        <button>Schedule a Walk</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <hr>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 img-responsive">
      <div class="photo">
        <img src="http://via.placeholder.com/200x200">
      </div>
    </div>
    <div class="col-sm-6">
      <p>Walked by: joewalker</p>
      <p>Date:  2/2/16</p>
      <p>Activity: Run</p>
      <p>Rating: 5</p>
      <p>joewalker's Notes: We had a great time. Sophie was friendly and somewhat energetic.</p>
      <button type="button">
        <a href="http://localhost:5000/profile">See User Profile</a>
      </button>
    </div>
  </div>
</div>

