<div class="row">
  <div class="col-xs-6 img-responsive">
    <div class="pet-photo">
      <img src="/assets/img/petdetail2.jpg">
    </div>
  </div>
  <div class="col-xs-6">
    <p>Name: Fluffy</p>
    <p>Status: Available</p>
    <p>Notes on Fluffy...</p>
      <p>Fluffy is great.  She walks well and is engaged.</p>
      <button>Schedule a Walk</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 img-responsive">
    <div class="profile-photo">
      <img src="http://via.placeholder.com/300x200">
    </div>
  </div>
  <div class="col-xs-8">
    <div class="walker-profile">
      <p>Joe Walker</p>
      <p>Date:  01/01/17</p>
      <p>Rating: 7 out of 10</p>
      <p>Joe's Notes: We had a great time.  Fluff went everywhere!</p>
    </div>
  </div>
</div>
