<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Pet</th>
        <th>Date</th>
        <th>Activity</th>
        <th>Rate</th>
      </tr>
      </thead>

      <tbody>

      <tr scope="row" *ngFor="let h of history">
        <td>{{h.petname}}</td>
        <td>{{h.date}}</td>
        <td>{{h.activity}}</td>
        <td>{{h.rating}}</td>
      </tr>
    </table>
  </div>
  <div class="col-xs-1"></div>
</div>
