.jumbotron {
  background-image: url("/assets/img/petwalk1.jpg");
  background-size: cover;
  height: calc(100vh - 50px);
  margin: 0;
  padding: 0;
}

.form-section {
	padding: 60px;
}

.fix {
	padding-left: 0px;
	padding-right: 0px;
}


.username input {
	width: 100%;
	padding: 0 auto;
}

.email {
	padding: 0 auto;
}

.email input {
	width: 100%;
}

.password {
	padding: 0 auto;
}

.password input {
	width: 100%;
}

.phonenumber {
	padding: 0 auto;
}

.phonenumber input {
	width: 100%;
}

.name input {
	width: 100%;
	padding: 0 auto;
}
