<div class="container">
  <div class="row">
    <h1 class="page-header">Schedule a Pet Date</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>You have selected <span class="petname">{{pet.name}}</span></h3><br>
      <img src="{{pet.photo}}">
    </div>
    <form class="col-md-4 col-md-offset-1 form-group" #scheduleForm="ngForm" (submit)="onLoginSubmit()">
      <label for="date">Choose a date:</label><br>
      <input type="date" name="date" class="form-control" [(ngModel)]="date">
      <!-- <label for="time">Choose a time:</label><br>
      <input type="time" name="time" class="form-control" [(ngModel)]="time"> -->
      <label for="activity">Choose an activity:</label><br>
      <select name="activity" class="form-control" [(ngModel)]="activity">
        <option value="Grooming" >Grooming</option>
        <option value="Pet">Pet</option>
        <option value="Play">Play</option>
        <option value="Reading">Reading</option>
        <option value="Walk" *ngIf="pet.type === 'dog'">Walk</option>
      </select><br>
      <input type="submit" class="btn btn-primary pull-right">
    </form>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <p>You have selected {{pet.name}} with an activity of <span class="green">{{activity}}</span> on <span class="green">{{date | date:fullDate}}</span>.</p>
      </div>
    </div>
  </div>
</div>
