<br>
<!--Row with username & email on Left, and Picture on right.-->
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-6">
    <br>
    <!--Title Here-->
    <div class="row">
      <div class="col-xs-12">User Profile</div>
    </div>
    <br>
    <!--Username-->
    <div class="row">
      <div class="col-xs-4">Username</div>
      <div class="col-xs-8">
        <input type="text" placeholder="User Name" value="{{username}}" >
      </div>
    </div>
    <!--Email-->
    <div class="row">
      <div class="col-xs-4">Email</div>
      <div class="col-xs-8">
        <input type="text" placeholder="Email Address" value="{{email}}" >
      </div>
    </div>
  </div>
  <div class="col-xs-4" align="center">
    <!--<img src="http://via.placeholder.com/200x200">-->
    <!--The following url will provide a random image.-->
    <img src="http://loremflickr.com/200/200/person?random=1">
  </div>
</div>
<br>

<!--History goes here-->
<app-history></app-history>

